@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #050B15;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #ff4d6d, 0 0 20px #ff99b3, 0 0 40px #ffccd6;
  }
}
