@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #ff4d6d, 0 0 20px #ff99b3, 0 0 40px #ffccd6;
  }
}